---
title: 'Blog | Montano Plumbing & Contracting LTD.'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'blog/'
eleventyNavigation:
    key: Blog
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Blog</span>
        <div class="cs-breadcrumbs">
            <a href="" class="cs-link">Home</a>
            <a href="" class="cs-link cs-active">Blog</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner2.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner2.jpg">
        <img decoding="async" src="/assets/images/banner2.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                    Blog                      -->
<!-- ============================================ -->

<section id="blog-1654">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/blog.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/blog.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/blog.jpg" alt="busines meeting" width="413" height="652" aria-hidden="true">
            </picture>
            <div class="cs-text-wrapper">
                <span class="cs-topper">Our Blog</span>
                <h2 class="cs-title">Latest News</h2>
            </div>
        </div>
        <div class="cs-posts">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-image" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/blogpost1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/blogpost1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/blogpost1.jpg" alt="windmill" width="413" height="320">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-date">29 Oct, 2023</span>
                        <h3 class="cs-h3">Latest: Montano Plumbing & Contracting LTD is a member of Philippine Business of Society Alberta</h3>
                        <p class="cs-item-text">
                            Montano Plumbing & Contracting LTD is now a proud member of the Philippine Business Society of Alberta. This membership reflects our commitment to excellence and community engagement within the Filipino business network.                        </p>
                        <a href="" class="cs-link">
                            Get Started
                            <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-right-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                        </a>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-image" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/blogpost2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/blogpost2.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/blogpost2.jpg" alt="fire hydrant" width="413" height="320">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-date">8 March, 2024</span>
                        <h3 class="cs-h3">Get a Free Humidifier with Every Furnace Installation: A Perfect Pair for Ultimate Home Comfort!</h3>
                        <p class="cs-item-text">
                            Upgrade your home's comfort and air quality with our special offer: receive a free humidifier with every new furnace installation! Enjoy balanced humidity and cozy warmth all year round, enhancing your living space like never before.                        </p>
                        <a href="" class="cs-link">
                            Get Started
                            <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-right-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
                                   




                                

















    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        
        <div class="main-content">
            <!-- ============================================ -->
            <!--                 Blog Articles                -->
            <!-- ============================================ -->

            {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
                {%- for post in collections.post | reverse -%}
                    <article class="recent-articles">
                        <!--Main Article Image-->
                        <picture class="blog-mainImage">
                            <img
                            src="{{ post.data.image }}"
                            alt="{{ post.data.imageAlt }}"
                            width="795"
                            height="400"
                            decoding="async"/>
                        </picture>
                        <!--Article Info-->
                        <div class="article-group">
                            <div class="blog-authorGroup">
                                <!--Author Image-->
                                <picture class="blog-author-img">
                                    <img
                                    src="/assets/svgs/profile.svg"
                                    alt="house"
                                    width="32"
                                    height="32"
                                    decoding="async"/>
                                </picture>
                                <span class="blog-author">{{ post.data.author }}</span>
                                <span aria-hidden="true" class="blog-dot"></span>
                                <!--Blog Date-->
                                <span class="blog-date">{{ post.date | postDate }}</span>
                            </div>
                            <h2 class="blog-h1">
                                {{ post.data.title }}
                            </h2>
                            <p class="blog-desc">
                                {{ post.data.description }}
                            </p>
                            <a href="{{ post.url }}" class="blog-link">Continue Reading</a>
                        </div>
                    </article>
                {%- endfor -%}
            {% endif %}
        </div>

        {% include 'components/featured-post.html' %}
    </div>
{% endblock %}