---
title: 'Fence & Deck Installation | Montano Plumbing & Contracting LTD.'
description: 'Your Trusted Partner for Renovations and Plumbing'
preloadImg: '/assets/images/fence/deck-fence-bg.avif'
permalink: 'fence-deck-installation/'
eleventyNavigation:
    key: Fence & Deck
    order: 275
---

{% extends "layouts/base.html" %}

{% block head %}
<!-- Added "renovation.css" because "fence-deck.css" is not working -->
    <link rel="stylesheet" href="/assets/css/renovation.css">
    <link rel="stylesheet" href="/assets/css/fence-deck.css">

        <meta property="og:url" content="{{ client.domain }}{{ page.url }}"/>
        <meta property="og:image" content="{{ site.url }}/assets/images/fence-og.jpg"/>
        <meta property="og:image:secure_url" content="{{ site.url }}/assets/images/fence-og.jpg"/>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1250">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">We build your dream Deck & Fence!</h1>
            <p class="cs-text">
                Transform your outdoor living space with our expert deck and fence installation services.
            </p>
            <p class="cs-text">
                Our team is committed to delivering high-quality craftsmanship that brings comfort, beauty, and value to your home.
            </p>
            <a href="/contact" class="cs-button-solid">Get A Quote</a>
        </div>
       <div></div>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/fence/deck-fence-bg.avif">
        <source media="(min-width: 601px)" srcset="/assets/images/fence/deck-fence-bg.avif">
        <img decoding="async" src="/assets/images/fence/deck-fence-bg.avif" alt="construction" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<section id="hero-446">
    <ul class="cs-card-group">
              <li class="cs-item">
                  <span class="cs-number"></span>
                  <span class="cs-desc">We offer financing on any plumbing/heating installation and home renovation
                      projects ranging from $2,000 to $100,000.</span> <br>
                  <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid1">AVAIL</a>
              </li>

          </ul>

      </section>



<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1251">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Professional Fence and Deck Installation</h2>
            </div>
            <p class="cs-text">
                Expert fence and deck installation services designed to elevate your outdoor space. Whether you're enhancing your home’s curb appeal or adding functionality, we deliver top-tier craftsmanship and customized solutions that exceed expectations.
            </p>
        </div>


        <!-- will use inline style as "deck-fence.css" is not working  -->
        <ul class="cs-card-group" style="grid-template-columns: repeat(8, 1fr);">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Fence Installation</h3>
                    <p class="cs-item-text">
                        Secure, stylish, and durable fences built to enhance privacy and curb appeal.
                </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/fence/fence.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/fence/fence.jpg">
                    <img decoding="async" src="/assets/images/fence.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Deck Installation</h3>
                    <p class="cs-item-text">
                        Custom-designed decks that create the perfect outdoor retreat for relaxation and entertainment.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/fence/deck.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/fence/deck.jpg">
                    <img decoding="async" src="/assets/images/fence/deck.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>









        <!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-48">

    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">Our Previous Projects</h2>


        </div>
        <div class="cs-image-group">
            <div class="cs-row cs-row-1">
                <!-- Row 1-->
                <picture class="cs-picture cs-picture-1">
                    <source media="(max-width: 600px)" srcset="/assets/images/fence/gallery1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/fence/gallery1.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/fence/gallery1.jpg" alt="new hallway" width="420" height="567">
                </picture>
                <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="/assets/images/fence/gallery2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/fence/gallery2.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/fence/gallery2.jpg" alt="new home construction" width="420" height="630">
                </picture>
                <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="/assets/images/fence/gallery3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/fence/gallery3.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/fence/gallery3.jpg" alt="building a new wall" width="420" height="512">
                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <!-- Row 2 -->
            <div class="cs-row cs-row-2">
                <picture class="cs-picture cs-picture-1">
                    <source media="(min-width: 600px)" srcset="/assets/images/fence/gallery4.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/fence/gallery4.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/fence/gallery4.jpg" alt="new kitchen" width="420" height="492">
                </picture>
                <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="/assets/images/fence/gallery5.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/fence/gallery5.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/fence/gallery5.jpg" alt="apartment addition" width="420" height="517">
                </picture>
                <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="/assets/images/fence/gallery6.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/fence/gallery6.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/fence/gallery6.jpg" alt="kew kitchen cabinets" width="420" height="629">
                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <!-- Row 3 -->
            <div class="cs-row cs-row-3">
                <picture class="cs-picture cs-picture-1">
                    <source media="(max-width: 600px)" srcset="/assets/images/fence/gallery7.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/fence/gallery7.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/fence/gallery7.jpg" alt="new black window structure" width="420" height="625">
                </picture>
                <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="/assets/images/fence/gallery8.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/fence/gallery8.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/fence/gallery8.jpg" alt="kitchen rebovation" width="420" height="452">
                </picture>
                <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="/assets/images/fence/fence.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/fence/fence.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/fence/fence.jpg" alt="bathroom renovation" width="420" height="629">
                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
               <!-- Row 4-->
               <div class="cs-row cs-row-3">
                <picture class="cs-picture cs-picture-1">
                    <source media="(max-width: 600px)" srcset="/assets/images/fence/gallery9.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/fence/gallery9.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/fence/gallery9.jpg" alt="new black window structure" width="420" height="625">
                </picture>
                <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="/assets/images/fence/gallery10.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/fence/gallery10.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/fence/gallery10.jpg" alt="kitchen rebovation" width="420" height="452">
                </picture>
                <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="/assets/images/fence/deck.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/fence/deck.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/fence/deck.jpg" alt="bathroom renovation" width="420" height="629">
                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>

        </div>

    </div>
</section>


<!-- ============================================ -->
<!--              Financing                       -->
<!-- ============================================ -->

<section id="hero-408">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title"><span class="cs-color">Financing Available </span> for Fence and Deck  Installation Projects.</h2>
            <p class="cs-text">
                Secure financing from $2,000 up to $100,000 for installations and renovations. <br>
            </p>
            <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid">Get Pre-Approved</a>



        </div>
        <div class="cs-stat-group">
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="/assets/images/fence/gallery10.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/fence/gallery10.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/fence/gallery10.jpg" alt="leaves" width="842" height="737" aria-hidden="true">
            </picture>

        </div>
    </div>
</section>


    {% include 'components/cta.html' %}

{% endblock %}
