---
title: 'Financing | Montano Plumbing & Contracting LTD.'
description: 'Your Trusted Partner for Renovations and Plumbing'
preloadImg: '/assets/images/fence/deck-fence-bg.avif'
permalink: 'financing/'

---

{% extends "layouts/base.html" %}

{% block head %}
<!-- Added "renovation.css" because "fence-deck.css" is not working -->
    <link rel="stylesheet" href="/assets/css/renovation.css">
    <link rel="stylesheet" href="/assets/css/fence-deck.css">

        <meta property="og:url" content="{{ client.domain }}{{ page.url }}"/>
        <meta property="og:image" content="{{ site.url }}/assets/images/ogmontano.jpg"/>
        <meta property="og:image:secure_url" content="{{ site.url }}/assets/images/ogmontano.jpg"/>
        <meta http-equiv="refresh" content="0; url =https://www.financeit.ca/en/direct/payment-plan/YT0yNzEzNTcmbD0mcD1QemIwb1duaDZNemhEa3hkSTQ5Z1R3JnM9MCZ2PTE=/apply?slug=PBTFXw">
{% endblock %}

{% block body %}


{% include 'components/cta.html' %}

{% endblock %}
