---
title: 'About | Montano Plumbing & Contracting LTD.'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 250
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Services</span>
        <div class="cs-breadcrumbs">
            <a href="" class="cs-link">Home</a>
            <a href="" class="cs-link cs-active">Services</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner2.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner2.jpg">
        <img decoding="async" src="/assets/images/banner2.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1626">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our services</span>
                <h2 class="cs-title">Grow Your Business with Our New Bold Agency</h2>
            </div>
            <p class="cs-text">
                Our New Bold Agency by enhancing your plumbing services and attracting more clients with cutting-edge marketing strategies. Our expert team will help you create a strong online presence, ensuring your plumbing business stands out in the competitive market. With tailored solutions and innovative approaches, watch your business thrive like never before.            </p>
        </div>                  
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/furnace.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/furnace.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/furnace.jpg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Furnace</h3>
                    <p class="cs-item-text">
                        We provide some of the finest quality, most reliable, and cost effective services and solutions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="/assets/images/sidearrow.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/showeretc.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/showeretc.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/showeretc.jpg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Shower, Faucet and Toilet</h3>
                    <p class="cs-item-text">
                        We provide some of the finest quality, most reliable, and cost effective services and solutions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="/assets/images/sidearrow.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/heroservices4.jpg" >
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/heroservices4.jpg" >
                        <img loading="lazy" decoding="async" src="/assets/images/heroservices4.jpg"  alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Renovation</h3>
                    <p class="cs-item-text">
                        We provide some of the finest quality, most reliable, and cost effective services and solutions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="/assets/images/sidearrow.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>



<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-404">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Gallery</span>
                <h2 class="cs-title">Some Work from Our Previous Clients</h2>
            </div>
            <div class="cs-button-group">
                <button class="cs-button" data-filter="one">
                    All
                </button>
                <button class="cs-button" data-filter="two">
                    Kitchen
                </button>
                <button class="cs-button" data-filter="three">
                    Bathroom
                </button>
                <button class="cs-button" data-filter="four">
                    Plumbing
                </button>
                <button class="cs-button" data-filter="five">
                    Garage
                </button>
            </div>
        </div>
        <div class="cs-gallery-wrapper">
            <!--Gallery 1-->
        <div class="cs-gallery" data-category="one">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gal1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/gal1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gal1.jpg" alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gal2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/gal2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gal2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gal3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/gal3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gal3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gal4.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/gal4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gal4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gal5.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/gal5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gal5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gal6.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/gal6.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gal6.jpg" alt="gallery" width="630" height="400">
            </picture>
        </div>
        <!--Gallery 2-->
        <div class="cs-gallery cs-hidden" data-category="two">
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/kitchen1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/kitchen1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/kitchen1.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/kitchen2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/kitchen2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/kitchen2.jpg"alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/kitchen3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/kitchen3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/kitchen3.jpg" alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/kitchen4.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/kitchen4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/kitchen4.jpg"> alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/kitchen5.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/kitchen5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/kitchen5.jpg"> alt="gallery" width="630" height="400">
            </picture>
           
        </div>
        <!--Gallery 3-->
        <div class="cs-gallery cs-hidden" data-category="three">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/BR1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/BR1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/BR1.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/BR2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/BR2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/BR2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/BR2-1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/BR2-1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/BR2-1.jpg"alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/BR3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/BR3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/BR3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/BR4.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/BR4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/BR4.jpg" alt="gallery" width="305" height="400">
            </picture>
           
        </div>
        <!--Gallery 4-->
        <div class="cs-gallery cs-hidden" data-category="four">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/plumbing1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/plumbing1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/plumbing1.jpg" alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/plumbing2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/plumbing2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/plumbing2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/plumbing3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/plumbing3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/plumbing3.jpg" alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/plumbing4.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/plumbing4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/plumbing4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/plumbing5.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/plumbing5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/plumbing5.jpg" alt="gallery" width="305" height="400">
            </picture>
            
        </div>
        <!--Gallery 5-->
        <div class="cs-gallery cs-hidden" data-category="five">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Garage1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Garage1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Garage1.jpg" alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Garage2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Garage2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Garage2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/garage3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/garage3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/garage3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/garage4.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/garage4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/garage4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/garage5.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/garage5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/garage5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/garage6.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/garage6.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/garage6.jpg" alt="gallery" width="630" height="400">
            </picture>
        </div>
        </div>
    </div>
</section>
                                
                

    {% include 'components/cta.html' %}

{% endblock %}