/*-- -------------------------- -->
<---      Nav-bar override      -->
<--- -------------------------- -*/

@media only screen and (min-width: 0rem) {
  body.scroll {
    header#cs-navigation {
      backdrop-filter: blur(30px);
      // background: linear-gradient(
      //   280deg,
      //   transparent 0%,
      //   #1055bcba 40% 60%,
      //   transparent 100%
      // );
      .cs-top-bar {
        &::before {
          opacity: 1;
          transform: scaleX(1); // Expand to full width
        }
      }
      .cs-li-link {
        &:hover {
          color: var(--primaryLight);
        }
      }
    }
  }

  header#cs-navigation {
    background: transparent;
    box-shadow: none;

    .cs-top-bar {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          280deg,
          transparent 0%,
          #1055bcba 35% 65%,
          transparent 100%
        );
        opacity: 0;
        transform: scaleX(0); // Start at 50% width
        transform-origin: center;
        transition:
          transform 1s ease,
          opacity 0.2s ease;
        z-index: -1;
      }

      .cs-top-container {
        background: transparent;
      }

      .cs-logo {
        img {
          // drop-shadow: 0 4px 4px rgb(0 0 0 / 0.3);
        }
      }

      .cs-toggle {
        background: transparent;
      }

      .cs-contact-link {
        display: none;
      }
      .cs-button-solid {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  header#cs-navigation {
    .cs-top-container {
      .cs-contact-group {
        .cs-toggle {
          display: flex;
        }
      }
    }

    .cs-bottom-bar {
      .cs-container {
        padding: 0;
      }
      .cs-call {
        display: none;
      }
    }

    .cs-nav {
      & > .cs-toggle {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  header#cs-navigation {
    .cs-bottom-bar {
      .cs-call {
        display: none;
      }
      .cs-nav {
        position: fixed;
        top: 0.5rem;
        // left: 60%;
        // transform: translateX(-40%);
        left: 58%;
        transform: translateX(-47%);

        .cs-toggle {
          display: none;
        }
      }

      .cs-li-link {
        color: rgba(255, 255, 255, 0.75);
        &:hover {
          filter: brightness(2);
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  header#cs-navigation {
    .cs-bottom-bar {
      .cs-nav {
        left: 60%;
        transform: translateX(-40%);
      }
    }
  }
}
/*-- -------------------------- -->
<---      sticky - override   -->
<--- -------------------------- -*/

@media only screen and (min-width: 0rem) {
  div.sticky-div {
    display: none;
  }
}
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

@property --fill{
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1950 {
    min-height: 100dvh;
    /* 200px - 300px top */
    /* 60px - 100px bottom */
    // padding: clamp(12.5rem, 12vw, 18.75rem) (16/16rem)
    //   clamp(3.75rem, 8vw, 6.25rem) (16/16rem);
    padding: clamp(8rem, 8vw, 12.75rem) 1rem clamp(3.75rem, 8vw, 6.25rem) 1rem;
    display: flex;
    align-items: stretch;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: (1369/16rem);
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      // justify-content: flex-end;
      // align-items: flex-end;
      /* 60px - 180px */
      gap: clamp(3.75rem, 13vw, 11.25rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.6375rem, 6vw, 4.0125rem);
      margin-bottom: (28/16rem);
      color: #fff;
      text-align: center;
      text-shadow: var(--text-shadow-lg);

    }

    .cs-h2 {
      /* 39px - 61px */
      font-size: clamp(2.0375rem, 6vw, 3.5125rem);
      color: #28a745;
      position: relative;
      text-shadow: var(--text-shadow-lg);

    //   &:after {
    //     content: "";
    //     position: absolute;
    //     inset: 0;
    //     filter: blur(10px);
    //     background-color: rgba(0, 0, 0, 0.15);
    //     z-index: -1;
    //   }
    }

    .cs-text {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      margin-bottom: (20/16rem);
      color: #fff;
      opacity: 0.8;
    }

    .cs-flex-group {
      max-width: (480/16rem);
      position: relative;
      text-shadow: var(--text-shadow-lg);

      .cs-h2 {
        width: 100%;
        margin-bottom: 1rem;
      }

      .cs-sub-group {
        display: grid;
        grid-template-areas: "text text" "logo img" "cta img";
        grid-template-columns: auto auto;
        column-gap: 0.8rem;
        margin-bottom: 1rem;

        img {
          float: right;
          grid-area: img;
          // margin: 0 0 0.5rem 1rem;
          max-width: 200px;
          width: 100%;
          aspect-ratio: 1/1;
          height: auto;
          justify-self: start;
          border-radius: 6px;
        }

        .cs-text {
          grid-area: text;
          // margin-bottom: 2rem;
          text-transform: uppercase;
          font-size: clamp(1rem, 3vw, 1.5rem);
          margin-bottom: 0;
        }

        .arrow-logo {
          grid-area: logo;
          color: var(--bodyTextColorWhite);
          justify-self: end;

          svg {
            transform: scaleX(-1) rotate(344deg);
          }
        }

        .cta-group {
          grid-area: cta;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          text-transform: uppercase;

          p {
            text-align: center;
            color: var(--bodyTextColorWhite);
            font-size: clamp(1rem, 3vw, 1.5rem);
          }

          .cs-button-solid {

          }
        }
      }

      .cs-h3 {
        font-size: clamp(1.5rem, 5vw, 2.3rem);
        color: var(--bodyTextColorWhite);
        margin: 0.5rem 0;
        text-transform: uppercase;
        text-align: center;
      }

      .cs-number {
        clear: left;
        font-weight: bold;
        margin-top: 0.25rem;
        text-transform: uppercase;
        font-size: clamp(2.4375rem, 5vw, 3.8125rem);
        color: var(--bodyTextColorWhite);
        text-align: center;
      }

      // Final clearfix to prevent container collapse
      &::after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .cs-button-solid {
      font-size: (16/16rem);
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      margin: 0;
      /* 32px - 48px */
      color: #fff;
      display: inline-block;
      position: relative;
      z-index: 1;
      &:before{
        display: none;
      }
      span{
        z-index: 2;
        position: relative;
        height: 100%;
        width: 100%;
        display: block;

            padding: 0 clamp(1rem, 2vw, 2rem);
            background: linear-gradient(
              280deg,
              #239bec 0%,
              #1055bc 50%,
              #185fc9 100%
            );
      }

            &:after{
                content: "";
                position: absolute;
                inset: -3px;
                z-index: -1;
                border-radius: inherit;

                background: conic-gradient(
                    #239bec var(--fill),
                    transparent var(--fill)
                );
                transition: --fill 0.6s ease-in-out;
            }

            &:hover{
                &:after{
                    --fill: 100%;
                }
            }

    //   &:before {
    //     content: "";
    //     width: 0%;
    //     height: 100%;
    //     background: #000;
    //     opacity: 1;
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: -1;
    //     transition: width 0.3s;
    //   }

    //   &:hover {
    //     &:before {
    //       width: 100%;
    //     }
    //   }
    }

    .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      &:before {
        /* Overlay */
        content: "";
        width: 100%;
        height: 100%;

        background: linear-gradient(
          180deg,
          rgba(26, 26, 26, 0.26) 10.79%,
          rgba(26, 26, 26, 0) 48.32%,
          rgba(26, 26, 26, 0.26) 82.84%
        );
        // background: linear-gradient(
        //   180deg,
        //   rgba(26, 26, 26, 0.86) 10.79%,
        //   rgba(26, 26, 26, 0) 48.32%,
        //   rgba(26, 26, 26, 0.86) 82.84%
        // );
        /* prevents the cursor from interacting with it */
        pointer-events: none;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1950 {
    .cs-content {
      text-align: left;
      // flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      gap: (32/16rem);
    }

    .cs-title {
      width: 55%;
      max-width: (630/16rem);
      margin-bottom: 0;
      /* prevents flexbox from squishing it */
      flex: none;
      text-align: center;
    }

    .cs-flex-group {
      max-width: (800/16rem);
      display: grid;
      grid-template-areas: "h2 h2 h2" "text text arrow" "cta img img" "h3 img img" "number img img";
      position: relative;
      column-gap: (16/16rem);

      .cs-h2 {
        grid-area: h2;
        width: 100%;
        place-self: center;
        text-align: center;
      }

      .cs-text {
        grid-area: text;
        text-align-last: end;
        height: fit-content;
        align-self: center;
      }

      .cs-h3 {
        grid-area: h3;
      }

      .cs-number {
        grid-area: number;
      }

      .cs-sub-group {
        display: contents;

        .cs-qr {
          grid-area: img;
          max-width: (275/16rem);
          width: 100%;
        }

        .arrow-logo {
          grid-area: arrow;

          svg {
            transform: rotate(244deg);

            filter: drop-shadow(0 4px 4px rgb(0 0 0 / 0.5));
          }
        }

        .cta-group {
          grid-area: cta;
          height: fit-content;
          flex-direction: row;
          gap: 1rem;
          margin-bottom: 1rem;
          justify-self: end;
          padding-right: 1rem;
        }
      }
    }
  }
}

/* Large Desktop Parallax Effect - 100px */
@media only screen and (min-width: 100rem) {
  // @media only screen and (min-width: 0rem) {
  #hero-1950 {
    .cs-background {
      background: url("/assets/images/fence/all-fence-bg-alt.avif");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      /* creates the parallax effect */
      background-attachment: fixed;

      img {
        display: none;
      }
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #hero-1950 {
      background-color: rgba(0, 0, 0, 0.6);

      .cs-text {
        opacity: 0.8;
      }

      .cs-background {
        background-color: #000;
        opacity: 0.5;

        img {
          opacity: 1;
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---  Auto Scroll Brands Images -->
<--- -------------------------- -*/
@keyframes scroll {
  to {
    transform: translate(calc(-50% - (var(--scroller-gap) / 2)));
  }
}

/* mobile*/
#autoscroll-gallery {
  width: 100%;
  /* max-width: 80rem; */
  /* margin: auto; */
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: var(--primaryLight);

  /* Using clamp to create fluid values based on viewport width */
  --scroller-gap: clamp(1.5rem, calc(1rem + 2vw), 4rem);
  /* --scroller-max-width: clamp(250px, calc(250px + 30vw), 800px); */
  --scroller-max-width: 700px;

  .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery-wrapper {
    li {
      list-style: none;
      transition:
        transform 200ms ease-in-out,
        filter 200ms linear;
      touch-action: pan-y;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        transform: translateY(-10%);
        filter: grayscale(0);
      }

      img {
        object-fit: contain;
        /* width: clamp(150px, calc(150px + 5vw), 250px); */
        /* height: 100%; */
        max-width: 30px;
        aspect-ratio: 1/1;
        filter: drop-shadow(0 4px 4px rgb(0 0 0 / 0.3));
      }

      .cs-text {
        margin-bottom: 0;
        text-shadow:
          0px 1px 2px rgb(0 0 0 / 0.3),
          0px 3px 2px rgb(0 0 0 / 0.3),
          0px 4px 8px rgb(0 0 0 / 0.3);
      }
    }
  }

  .scroller {
    .scroller-inner {
      display: flex;
      padding-block: 1rem;
      padding-inline: 0;
      gap: var(--scroller-gap);
      align-items: center;
      /* justify-content: space-around; */
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  /*animation starts here */
  [data-animated="true"] {
    overflow: hidden;

    mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );

    .scroller-inner {
      flex-wrap: nowrap;
      animation: scroll var(--animation-duration, 20s)
        var(--animation-direction, forwards) linear infinite;
      width: fit-content;

      &:hover {
        animation-play-state: paused;
        filter: grayscale(0.4);
      }

      li {
        /* width: fit-content; */
        width: max-content;

        .cs-text {
          width: max-content;
        }
      }
    }
  }

  .scroller[data-direction="right"] {
    --animation-direction: reverse;
  }

  .scroller[data-direction="left"] {
    --animation-direction: reverse;
  }
}

@media screen and (max-width: 425px) {
  #autoscroll-gallery {
    .scroller {
      max-width: (320/16rem);
    }
  }
}

@media screen and (min-width: 426px) {
  #autoscroll-gallery {
    .scroller {
      max-width: var(--scroller-max-width);
    }
  }
}

/*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-890 {
    /* Centers Button */
    text-align: center;
    padding: var(--sectionPadding);
    /* prevents the arrow from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;

    &:before {
      /* background color, done in a pseudo so it pulls from the variable color */
      content: "";
      width: 100%;
      height: 100%;
      background: var(--primary);
      opacity: 0.03;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: (550/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-text {
      max-width: (1000/16rem);
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 2vw, 1.25rem);
    }

    .cs-item {
      width: 100%;
      text-align: left;
      list-style: none;
      /* 20px - 32px */
      padding: clamp(1.25rem, 2.3vw, 2rem);
      background-color: #fff;
      border-radius: (16/16rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      grid-column: span 2;
      position: relative;
      z-index: 1;

      &:last-child {
        grid-column: 1/-1;
        width: 100%;
        margin-inline: auto;
        max-width: 630px;
      }
    }

    .cs-icon {
      width: (48/16rem);
      height: auto;
      margin: 0 0 (20/16rem) 0;
      display: block;
    }

    .cs-h3 {
      font-size: (20/16rem);
      line-height: 1.5em;
      margin: 0 0 (12/16rem) 0;
      color: var(--headerColor);
      transition: color 0.3s;
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      transition: color 0.3s;
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (24/16rem);
      background-color: var(--primary);
      border-radius: (4/16rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;


      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: (4/16rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-floater {
      width: (351/16rem);
      height: auto;
      display: none;
      position: absolute;
      top: (-220/16rem);
      right: 15rem;
      transform: rotate(280deg);
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-890 {
    .cs-container {
      max-width: (1280/16rem);
    }

    .cs-item {
      grid-column: span 1;
    }

    .cs-floater {
      display: block;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #why-choose-890 {
      &:before {
        opacity: 0.2;
        background-color: #000;
      }
      .cs-topper {
        color: var(--primaryLight);
      }

      .cs-title,
      .cs-text,
      .cs-heading3 {
        color: var(--bodyTextColorWhite);
      }

      .cs-item {
        background-color: var(--accent);
      }

      .cs-h3,
      .cs-item-text,
      .cs-link {
        color: var(--bodyTextColorWhite);
      }

      .cs-floater {
        opacity: 0.5;
      }
    }
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-51 {
    padding: var(--sectionPadding);
    position: relative;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title {
      color: var(--bodyTextColorWhite);
    }

    .cs-text {
      margin-bottom: (16/16rem);
      color: var(--bodyTextColorWhite);
      opacity: 0.8;
      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (24/16rem);
      background-color: var(--primary);
      border-radius: (4/16rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: (4/16rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-picture {
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      z-index: -1;

      &:before {
        /* black color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.8;
        top: 0;
        left: 0;
        z-index: 1;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-1071 {
    padding: var(--sectionPadding);
    background-color: var(--primary);
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-flex {
      max-width: (630/16rem);
    }

    .cs-title {
      margin: 0;

      color: var(--bodyTextColorWhite);
    }

    .cs-button-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: (16/16rem);
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (24/16rem);
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-button-transparent {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (24/16rem);
      background-color: transparent;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #fff;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:after {
        /* border */
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: transparent;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        border: 1px solid #fff;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
        pointer-events: none;
      }

      &:hover {
        color: var(--primary);
        &:before {
          width: 100%;
        }
      }
    }

    .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      &:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #1a1a1a;
        opacity: 0.88;
        top: 0;
        left: 0;
        z-index: 1;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
      }
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cta-1071 {
    .cs-content {
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
    }

    .cs-button-box {
      flex-wrap: nowrap;
      align-items: center;
      flex: none;
    }
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-80 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    &:before {
      /* black background on mobile */
      content: "";
      width: 100%;
      height: 50%;
      background: #1a1a1a;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    .cs-stripes {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      /* prevent stripes from overlapping sections above and below */
      overflow: hidden;
      /* Makes it so your cursor acts like it doesn't exist */
      pointer-events: none;

      &:before {
        /* Stripe 1 */
        content: "";
        width: (132/16rem);
        height: (1100/16rem);
        background: -moz-linear-gradient(
          top,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.45) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          top,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.45) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.45) 100%
        );
        opacity: 0.08;
        transform: rotate(-25deg);
        position: absolute;
        display: block;
        bottom: (-150/16rem);
        /* position in the middle, 50% from the left, no matter how wide
                   the screen gets, it will be placed on the center line of the div */
        left: 50%;
        /* push X amount of pixels from this 50% midpoint */
        margin-left: (-300/16rem);
      }

      &:after {
        /* Stripe 2 */
        content: "";
        width: (132/16rem);
        height: (1200/16rem);
        background: -moz-linear-gradient(
          top,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.45) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          top,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.45) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.45) 100%
        );
        opacity: 0.08;
        transform: rotate(-25deg);
        position: absolute;
        display: block;
        bottom: (-100/16rem);
        /* position in the middle, 50% from the left, no matter how wide
                   the screen gets, it will be placed on the center line of the div */
        left: 50%;
        /* push X amount of pixels from this 50% midpoint */
        margin-left: (-170/16rem);
      }
    }

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left or center if content needs to be aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* aligns the content */
      align-items: center;
    }

    .cs-title {
      color: var(--bodyTextColorWhite);
    }

    .cs-text {
      color: var(--bodyTextColorWhite);
      margin-bottom: (32/16rem);
      opacity: 0.8;
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (24/16rem);
      background-color: var(--primary);
      border-radius: (4/16rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: (4/16rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-picture {
      width: 100%;
      max-width: (457/16rem);
      margin: auto;
      position: relative;
      display: block;
      /* moves it to the 1st position at the top */
      order: -1;
      aspect-ratio: 300/475;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: (8/16rem) (8/16rem) 0 0;
        object-fit: cover;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-80 {
    text-align: left;
    /* 144px - 225px - creates the white space above */
    margin-top: clamp(9rem, 9.9vw, 14.0625rem);
    padding-bottom: 0;
    position: relative;
    z-index: 1;
    background-color: #1a1a1a;

    &:before {
      display: none;
    }

    .cs-stripes {
      &:before {
        top: (-150/16rem);
        bottom: auto;
        margin-left: (-120/16rem);
      }

      &:after {
        top: (-100/16rem);
        bottom: auto;
        margin-left: (-255/16rem);
      }
    }

    .cs-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
    }

    .cs-content {
      text-align: left;
      width: 50%;
      max-width: (630/16rem);
      margin: 0;
      /* 60px - 100px - this gives us the space on the bottom without padding  */
      margin-bottom: clamp(3.75rem, 6.2vw, 6.25rem);
      align-items: flex-start;
    }

    .cs-picture {
      width: 41vw;
      max-width: (457/16rem);
      /* height is a percentage of parent container height. When the cs-content height changes from extra text, the height of the image adjusts. Since the container is now longer/shorter, 150% of that height with also be longer/shorter */
      height: clamp(145%, 44vw, 160%);
      /* 500px - 578px */
      max-height: clamp(31.25rem, 44vw, 36.125rem);
      margin: 0;
      /* position absolute so we can have the cs-content centered inside the black section and have it respond to different heights of the cs-content */
      position: absolute;
      right: 0;
      bottom: 0;
      /* reset */
      aspect-ratio: none;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cta-80 {
    /* 144px - 200px */
    margin-top: clamp(9rem, 12.9vw, 12.5rem);
    .cs-stripes {
      &:before {
        margin-left: (-220/16rem);
        width: (195/16rem);
      }

      &:after {
        margin-left: (-430/16rem);
        width: (194/16rem);
      }
    }
  }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-286 {
    /* Centers the button */
    text-align: center;
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: (550/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .cs-content {
      /* breaks the children elements out of the container, this allows the button to use the order property to send itself to the bottom of the .cs-container flexbox */
      display: contents;
      flex-direction: column;
      align-items: flex-start;
    }

    .cs-text {
      /* 48px - 64px, removed at desktop */
      margin-bottom: clamp(3rem, 6vw, 4rem);
    }

    .cs-card-group {
      padding: 0;
      /* 48px - 64px */
      margin: 0 auto clamp(3rem, 5vw, 4rem);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: (16/16rem);
    }

    .cs-item {
      text-align: left;
      list-style: none;
      width: 100%;
      /* max width set at desktop */
      margin: 0;
      /* 24px - 32px */
      padding: clamp(1.5rem, 3vw, 2rem);
      /* Prevents padding from affecting height & width */
      box-sizing: border-box;
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
      border-radius: (4/16rem);
      background: #fff;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }

    .cs-item-img {
      width: (80/16rem);
      height: (80/16rem);
      margin-bottom: (20/16rem);
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0 0 (20/16rem);
      padding-bottom: (20/16rem);
      color: var(--bodyTextColor);
      border-bottom: 1px solid #e8e9ec;
    }

    .cs-reviewer {
      font-size: (16/16rem);
      line-height: 1.5em;
      font-weight: 700;
      width: 40%;
      margin: 0 auto 0 0;
      display: block;
      color: var(--headerColor);
    }

    .cs-desc {
      font-size: (14/16rem);
      font-weight: 400;
      color: #7d799c;
      display: block;
    }

    .cs-item-stars {
      width: (96/16rem);
      height: (16/16rem);
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (24/16rem);
      background-color: var(--primary);
      border-radius: (4/16rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: (4/16rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-button-solid {
      /* places it at the bottom of the container in the 3rd position */
      order: 3;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-286 {
    .cs-container {
      max-width: (1280/16rem);
    }

    .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      gap: (16/16rem);
    }

    .cs-item {
      /* reset margin so it won't interfere with flexbox */
      margin: 0;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #reviews-286 {
    .cs-container {
      flex-direction: row;
      justify-content: space-between;
    }

    .cs-content {
      /* moves button to the left */
      text-align: left;
      margin-right: (40/16rem);
      max-width: (326/16rem);
      /* turn off the contents property, all children now live with the parent again */
      display: flex;
    }

    .cs-text {
      margin: 0 0 (32/16rem) 0;
    }

    .cs-card-group {
      margin: 0;
      /* push down 40px to offset the negative margin on the cs-item-img */
      margin-top: (40/16rem);
    }

    .cs-item {
      max-width: (423/16rem);
    }

    .cs-item-img {
      /* make image overlap the container, accounting for 40px padding + 40px overlap */
      margin-top: (-80/16rem);
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #reviews-286 {
      .cs-title,
      .cs-text,
      .cs-item-text,
      .cs-reviewer {
        color: var(--bodyTextColorWhite);
      }

      .cs-item {
        background: var(--medium);
      }

      .cs-desc {
        color: var(--primaryLight);
      }
    }
  }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1648 {
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      /* breaks up the contents so they are no longer considered children of the parent and can now be flexboxed and positioned relatrive to the cs-container so we can place the button at the bototm of the section */
      display: contents;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title {
      max-width: 20ch;
      margin: 0;
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      white-space: nowrap;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (24/16rem);
      background-color: var(--primary);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: (8/16rem);
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-button-solid {
      order: 3;
    }

    .cs-gallery {
      width: 100%;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .cs-link {
      height: (280/16rem);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &:hover {
        .cs-image {
          &:before {
            opacity: 0.5;
          }
        }

        .cs-link-icon {
          opacity: 1;
          transform: translateY(0) rotateY(0);
        }
      }
    }

    .cs-image {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 2;
        transition: opacity 0.3s;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes it act like a background image */
        object-fit: cover;
      }
    }

    .cs-link-icon {
      opacity: 0;
      position: relative;
      z-index: 10;
      transform: translateY(1.5rem) rotateY(90deg);
      transition:
        opacity 0.3s,
        transform 0.5s;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-1648 {
    .cs-content {
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }

    .cs-gallery {
      grid-template-columns: repeat(12, 1fr);
    }

    .cs-link {
      width: 100%;
      /* 240px - 400px */
      height: clamp(15rem, 30vw, 25rem);
      aspect-ratio: auto;
      grid-column: span 3;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #gallery-1648 {
      .cs-title {
        color: var(--bodyTextColorWhite);
      }
    }
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-96 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    &:before {
      /* black background on mobile */
      content: "";
      width: 100%;
      height: 50%;
      background: #1a1a1a;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    .cs-stripes {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      /* prevent stripes from overlapping sections above and below */
      overflow: hidden;
      /* Makes it so your cursor acts like it doesn't exist */
      pointer-events: none;

      &:before {
        /* Stripe 1 */
        content: "";
        width: (132/16rem);
        height: (900/16rem);
        background: -moz-linear-gradient(
          top,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.45) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          top,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.45) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.45) 100%
        );
        opacity: 0.08;
        transform: rotate(-25deg);
        position: absolute;
        display: block;
        top: (-150/16rem);
        /* position in the middle, 50% from the left, no matter how wide
                   the screen gets, it will be placed on the center line of the div */
        left: 50%;
        /* push X amount of pixels from this 50% midpoint */
        margin-left: (-100/16rem);
      }

      &:after {
        /* Stripe 2 */
        content: "";
        width: (132/16rem);
        height: (1000/16rem);
        background: -moz-linear-gradient(
          top,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.45) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          top,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.45) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.45) 100%
        );
        opacity: 0.08;
        transform: rotate(-25deg);
        position: absolute;
        display: block;
        top: (-100/16rem);
        /* position in the middle, 50% from the left, no matter how wide
                   the screen gets, it will be placed on the center line of the div */
        left: 50%;
        /* push X amount of pixels from this 50% midpoint */
        margin-left: (-240/16rem);
      }
    }

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left or center if content needs to be aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* aligns the content */
      align-items: center;
    }

    .cs-title {
      color: var(--bodyTextColorWhite);
    }

    .cs-text {
      color: var(--bodyTextColorWhite);
      margin-bottom: (32/16rem);
      opacity: 0.8;
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (24/16rem);
      background-color: var(--primary);
      border-radius: (4/16rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: (4/16rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-picture {
      width: 100%;
      max-width: (457/16rem);
      margin: auto;
      position: relative;
      display: block;
      /* moves it to the 1st position at the top */
      order: -1;
      aspect-ratio: 300/475;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: (8/16rem) (8/16rem) 0 0;
        object-fit: cover;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-96 {
    /* 144px - 225px - creates the white space above */
    margin-top: clamp(9rem, 9.9vw, 14.0625rem);
    padding-bottom: 0;
    position: relative;
    z-index: 1;
    background-color: #1a1a1a;

    &:before {
      display: none;
    }

    .cs-stripes {
      /* flips the element horizontally, creating a mirror of it's
               original orientation */
      transform: scaleX(-1);
      &:before {
        margin-left: (-120/16em);
      }

      &:after {
        margin-left: (-255/16em);
      }
    }

    .cs-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
    }

    .cs-content {
      text-align: left;
      width: 50%;
      max-width: (630/16rem);
      margin: 0;
      /* 60px - 100px - this gives us the space on the bottom without padding  */
      margin-bottom: clamp(3.75rem, 6.2vw, 6.25rem);
      align-items: flex-start;
    }

    .cs-picture {
      width: 41vw;
      max-width: (457/16rem);
      /* height is a percentage of parent container height. When the cs-content height changes from extra text, the height of the image adjusts. Since the container is now longer/shorter, 150% of that height with also be longer/shorter */
      height: clamp(145%, 44vw, 160%);
      /* 500px - 578px */
      max-height: clamp(31.25rem, 44vw, 36.125rem);
      margin: 0;
      /* position absolute so we can have the cs-content centered inside the black section and have it respond to different heights of the cs-content */
      position: absolute;
      left: 0;
      bottom: 0;
      /* reset */
      aspect-ratio: none;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cta-96 {
    /* 144px - 200px */
    margin-top: clamp(9em, 12.9vw, 12.5em);
    .cs-stripes {
      &:before {
        margin-left: (-220/16rem);
        width: (195/16rem);
      }

      &:after {
        margin-left: (-430/16rem);
        width: (194/16rem);
      }
    }
  }
}
