---
title: 'Montano Plumbing & Contracting LTD.'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1957">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">PREMIUM service</span>
            <h1 class="cs-title">We specialize in plumbing, gasfitting, and renovations throughout Edmonton and
                surrounding areas.</h1>
            <p class="cs-text">We offer reliable plumbing services 
                with a commitment to excellence. Our dedicated team
                 ensures customer satisfaction with every job.</p>
            <a href="/contact" class="cs-button-solid">Schedule Appointment</a>
        </div>
    </div>
    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero1.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/hero1.jpg">
        <img decoding="async" src="/assets/images/hero1.jpg" alt="healthcare professionals" width="1920" height="746" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1957">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=DfOdG8905JXY&format=png&color=FFFBFB" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">FURNACE TUNE UP</span>
                        <h3 class="cs-h3">Keep Your Home Warm: The Essential Benefits of a Furnace Tune-Up</h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/heroservices1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/heroservices1.jpg">
                    <img decoding="async" src="/assets/images/heroservices1.jpg" alt="healthcare patient" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=DfOdG8905JXY&format=png&color=FFFBFB" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">PLUMBING</span>
                        <h3 class="cs-h3">Essential Plumbing Tips</h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/heroservices2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/heroservices2.jpg">
                    <img decoding="async" src="/assets/images/heroservices2.jpg" alt="healthcare patient" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=DfOdG8905JXY&format=png&color=FFFBFB" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">HOT WATER TANK</span>
                        <h3 class="cs-h3">Choosing the Best 
                            Hot Water Tank for Your Home</h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/hero1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/hero1.jpg">
                    <img decoding="async" src="/assets/images/hero1.jpg" alt="healthcare patient" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=DfOdG8905JXY&format=png&color=FFFBFB" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">renovation</span>
                        <h3 class="cs-h3">Transform Your Space: 
                            Top Renovation Tips</h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/heroservices4.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/heroservices4.jpg">
                    <img decoding="async" src="/assets/images/heroservices4.jpg" alt="healthcare patient" width="455" height="337" aria-hidden="true">
                </picture>
            </li>

            
                                            
        </ul>
    </div>
</section>
                                


<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1088">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">&quot;Our clients love the work we
                do! Here’s what they have to &quot;</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">

                <img class="cs-image" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/reviews3.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="/assets/images/quote.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    Reliable,fast action,and knowledgeable specially in these extreme cold weather.highly recommended and thank you.                <div class="cs-flex">
                    <span class="cs-name">Zio Gualberto</span>
                    <span class="cs-desc">6 months ago</span>
                
                </div>
            </li>
            <li class="cs-item">


                <img class="cs-image" src="/assets/images/user.jpg" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="/assets/images/quote.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    My water heater broke and MPC came quick. The specific parts for my tank were really hard to find but the very next day they came with that parts and fixed it quick. Professional, reasonable service fee and quick service. Thank you! Maraming salamat po                <div class="cs-flex">
                    <span class="cs-name">Lester Tiangsing</span>
                    <span class="cs-desc">May 25, 2023</span>
                
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-image" src="/assets/images/user2.jpg"alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="/assets/images/quote.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    Highly recommended! 👌 done with sump pump replacement & kitchen sink repair service with MPC Ltd. 👍 Great service from my kababayan Raymond! 10 out of 10 will do it again 😉                <div class="cs-flex">
                    <span class="cs-name">Marivic Peralta - Añover</span>
                    <span class="cs-desc">August 5, 2020</span>
                </div>
            </li>
        </ul>
        <a href="https://www.google.com/maps/place/Montano+Plumbing+%26+Contracting+Ltd./@53.4633179,-113.6871153,10.3z/data=!4m8!3m7!1s0x6988ef8116c31817:0x3e9a65105016fe79!8m2!3d53.3415156!4d-113.3602913!9m1!1b1!16s%2Fg%2F11kqbxgl6z?hl=en&entry=ttu" class="cs-button-5">
            <span class="cs-button-text">Read More</span>
        </a>
    </div>
</section>
                                




<!-- ============================================ -->
<!--                    Blog                      -->
<!-- ============================================ -->

<section id="blog-1654">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/blog.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/blog.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/blog.jpg" alt="busines meeting" width="413" height="652" aria-hidden="true">
            </picture>
            <div class="cs-text-wrapper">
                <span class="cs-topper">Our Blog</span>
                <h2 class="cs-title">Latest News</h2>
            </div>
        </div>
        <div class="cs-posts">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-image" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/blogpost1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/blogpost1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/blogpost1.jpg" alt="windmill" width="413" height="320">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-date">29 Oct, 2023</span>
                        <h3 class="cs-h3">Latest: Montano Plumbing & Contracting LTD is a member of Philippine Business of Society Alberta</h3>
                        <p class="cs-item-text">
                            Montano Plumbing & Contracting LTD is now a proud member of the Philippine Business Society of Alberta. This membership reflects our commitment to excellence and community engagement within the Filipino business network.                        </p>
                        <a href="" class="cs-link">
                            Get Started
                            <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-right-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                        </a>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-image" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/blogpost2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/blogpost2.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/blogpost2.jpg" alt="fire hydrant" width="413" height="320">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-date">8 March, 2024</span>
                        <h3 class="cs-h3">Get a Free Humidifier with Every Furnace Installation: A Perfect Pair for Ultimate Home Comfort!</h3>
                        <p class="cs-item-text">
                            Upgrade your home's comfort and air quality with our special offer: receive a free humidifier with every new furnace installation! Enjoy balanced humidity and cozy warmth all year round, enhancing your living space like never before.                        </p>
                        <a href="" class="cs-link">
                            Get Started
                            <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-right-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
                                








    



    {% include 'components/cta.html' %}
{% endblock %}